# Sentry authentication token
SENTRY_AUTH_TOKEN=your_sentry_auth_token

# Database connection string
DATABASE_URL=postgresql://username:password@localhost:5432/database_name

# Secret used for authentication/session signing
# Generate one by running the following command in Git Bash, WSL, or any terminal with OpenSSL installed:
#   openssl rand -base64 32
AUTH_SECRET=your_auth_secret